.body{
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    grid-gap: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-rows: repeat(4, 1fr);
    border: 5px solid black;
    width: 1000px;
    margin: auto;
}
.block{
    padding: 10px;
    font-size: 16px;
    line-height: 1.4;
}
.blue{
    background-color: blue;
    color: white;
    grid-column: span 2;
    grid-row: span 30;
}
.green{
    background-color: green;
    color: white;
    grid-row: span 30;
}
.red{
    background-color: red;
    grid-row: span 60;
    color: white;
}
.purple{
    background-color: purple;
    color: white;
    grid-row: span 30;
}
.yellow{
    background-color: yellow;
    color: black;
    grid-column: span 2;
    grid-row: span 30;
}